# reinstall TF and deps
#tensorflow==2.6.1
#jupyter
#matplotlib
#jupyter_http_over_ws
#ipykernel==5.1.1
#nbformat==4.4.0
#jedi==0.17.2

#typing-extensions~=3.10.0.0 # Not sure who needs it
#nbformat==5.1.3 # Not sure who needs it

# dev tools
awscli==1.25.60 # held back by dvc
nbdev==1.2.11
dvc[s3]==2.24.0
s3fs[boto3]==2022.8.2
black==22.8.0
traceback-with-variables==2.0.4
mypy==0.971
twine==4.0.1
keyrings.alt==4.2.0
uvicorn==0.18.3
jupyter_contrib_nbextensions

# ToDo: Following is a fix for vulnerability https://avd.aquasec.com/nvd/2022/cve-2022-1941/
# Remove it once it is fixed in base tensorflow docker
protobuf>=3.19.5

# ToDo: Following is a fix for vulnerability https://avd.aquasec.com/nvd/2022/cve-2022-36087/
oauthlib>=3.2.1

# needed for MkDocs => remove me with a new version of tf
Pygments==2.12.0

#trivy req
Pillow==9.2.0
