# reinstall TF and deps
#tensorflow==2.6.1
#jupyter
#matplotlib
#jupyter_http_over_ws
#ipykernel==5.1.1
#nbformat==4.4.0
#jedi==0.17.2

#typing-extensions~=3.10.0.0 # Not sure who needs it
#nbformat==5.1.3 # Not sure who needs it

# dev tools
awscli==1.22.76 # held back by dvc
nbdev==1.2.8
dvc[s3]==2.10.2
s3fs[boto3]==2022.3.0
black==22.3.0
traceback-with-variables==2.0.4
mypy==0.950
twine==4.0.0
keyrings.alt==4.1.0
uvicorn==0.17.6
jupyter_contrib_nbextensions

# needed for MkDocs => remove me with a new version of tf
Pygments==2.12.0

#trivy req
Pillow==9.1.1

