# reinstall TF and deps
#tensorflow==2.6.1
#jupyter
#matplotlib
#jupyter_http_over_ws
#ipykernel==5.1.1
#nbformat==4.4.0
#jedi==0.17.2

typing-extensions~=3.7.4.3
nbformat==5.0.8

# dev tools
awscli==1.22.5
nbdev==1.1.23
dvc[s3]==2.1.0
#black==21.7b0
traceback-with-variables==2.0.2
mypy==0.910
twine==3.6.0
keyrings.alt==4.1.0
uvicorn==0.15.0
jupyter_contrib_nbextensions

